@import "./../../../../style/mixins.scss";

.user-dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    overflow: hidden;

    @include desktop() {
        gap: 1rem !important;
    }

}