@import "./../../../../style/mixins.scss";

.register {
    display: flex;
    flex-direction: column;

    @include mobile() {
        gap: .5rem;
    }
    h1 {
        text-align: center;
    }

    .register-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;

        .form-field {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        @include mobile() {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-height: 70vh;
            overflow-y: scroll;
        }
    }

    a {
        margin: 1rem 0;
        @include mobile() {
            text-align: center;
        }
    }
}